#root {
  width: 100vw;
  margin: 0 auto;
  /* padding: 2rem; */
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.about-us {
  text-align: center;
  width: 100vw;
}

.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}
.card:hover {
  background-color: #e3e7eb;
}

/* Fullscreen Slider Section */
.fullscreen-slider {
  height: 100vh; /* Fullscreen height */
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Section */
.card-section {
  margin-top: 25vh; /* Add margin between the slider and card section */
  padding: 3rem 0; /* Add spacing */
  text-align: center;
  background-color: inherit; /* Matches the theme */
}

.card-section h1 {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}

.card-section p {
  font-size: 1.1rem;
  margin-bottom: 1.5rem;
}

.card-section .btn {
  padding: 0.6em 1.5em;
  font-size: 1rem;
}